body {
    text-align: center;
    margin: 0%;
    background-color: rgb(214, 231, 233);
}

div {
    margin-top: 0%;
}

.title-top {
    font-size: 5.2rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Caveat', cursive;
    color: #66BFBF;
}

.title-bottom {
    font-family: fantasy;
    font-size: 2.5rem;
    color: #66BFBF;
}

.skills-title {
    color: #11999E;
}
.top {
    height: 100px;
}
.pro {
    text-decoration: underline;
}

.mountain {
    position: relative;
    top: 16%;
}

.bottom-cloud{
    position: absolute;
}

.top-cloud{
    position: relative;
    left: 180px;
}