body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title {
    background-color: green;
}

.container-fluid {
    padding: 3% 15%;
}

/* carrousel testimonial section*/ /* antes de montar el carrousel es mejor dar formato a los elementos de dentro y el background*/
/* para cambiar la velocidad a la que se pasan los slides se hace con data-interval="". se pueden encontrar más opciones como esta en la documentación en la 
parte de USAGE  OPTIONS  */
/* OJO!! para que funcionen los botones tienen que tener el href del Id del div que lo engloba todo. PROBAR SIEMPRE TODO CON CAJAS DE COLORES ANTES DE METER NADA*/
/* En la parate de CAROUSEL INNER es donde está el contenido del carousel y eso está dentro del div padre.
Dentro de los elementos del carousel, el que va a salir primero cuando entras en la seccion tiene que estar marcado como ACTIVE*/
/*Recuerda el zindex, para hacer un responsive más avanzado, ademas de usar el grid de bootstrap hay que usar Mediaqueries, recuerda que casi todo el mundo usa el movil
para ver las webs. Usar la pagina de mobile friendly test de google para probar que todo esta ok. Si no esta optimizada para mobil correctamente google te
penaliza en las busquedas*/

/*CODE REFACTORING*/
/* Refactoring es organizar el codigo para que sea más legible.
READABILITY (hierarchy al the time: Los id son más especificos y cuando algo es más especifico se aplica antes que todo lo demas. nesting, the idea is that less code is better. 
you can either combine selectors or 
MODULARITY: how easy is it to reuse
EFICIENCY
LENGHT*/

/*WEB DESIGN TIPS*/
/*Usar la web de colorhunt para las combinaciones de colores*/
/* UI DESIGN user Interface design
- 2 fonts por diseño y que estén en sintonía con lo que se quiere transmitir
- Resaltar las partes importantes del texto para guiar al usuario con colores, con peso de fuente etc
- White space, el minimalismo queda elegante*/
/* UX DESIGN User Experience design
- Se puede usar CANVA para hacer un diseño borrador para ver si funciona como está colocado. Tiene una opcion de publicar para ver como queda con una minima automatización*/


#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: rgb(233, 130, 93);
    color: white;
}

#press {
    text-align: center;
    background-color: rgb(233, 130, 93);
    padding-bottom: 3%;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-item {
    height: 400px;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Z INDEX AND STACKING ORDER */

/*A Note About CSS Link Order

A quick note about the next lecture. If you find that your custom styles are not working, make sure that you change the order of link tags in the header.

CSS styles are applied in the order they are linked in your HTML code.

So if you had two stylesheets e.g. styles1.css and styles2.css which both target the same element e.g.

styles1.css

    body {
    background-color: red;
    }

styles2.css

    body {
    background-color: blue;
    }

If inside the head section if your HTML, you list your links as this:

    <link rel="stylesheet" href="styles1.css">
    <link rel="stylesheet" href="styles2.css">

The resulting page will be blue.

But if you listed your links like this:

    <link rel="stylesheet" href="styles2.css">
    <link rel="stylesheet" href="styles1.css">

The resulting page will be red.

Essentially both styles are being applied, but the one that's visible at the end is the one applied last.


So following that logic, if your custom styles are not overriding the bootstrap styles, all you need to do is move the link to your custom stylesheet to a line after the bootstrap CDN link:

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

This means that you first load the default bootstrap styles, then you can override some of those components with your own custom CSS.

Unlike CSS and JavaScript, HTML code is executed from top to bottom so the order of your code matters.*/